* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main: #ff6e68;
	--lightBlack: #3f3f3f;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.mt-100 {
	margin-top: 100px;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

.nav {
	width: 100%;
	height: 70px;
	box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
	position: sticky;
	z-index: 99;
	top: 0;
	background-color: rgba(245, 245, 245, 0.9);
}

.nav-container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 70px;
	justify-content: space-between;
}

.nav-left {
	margin-right: 10px;
}

.nav-left img {
	width: 100px;
}

polygon {
	fill: #fff !important;
}

a {
	text-decoration: none;
}
.basket {
	position: relative;
}

.basket-icon {
	color: var(--main);
	font-size: 22px;
}

.basket span {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	right: -15px;
	top: -12px;
	width: 25px;
	height: 25px;
	background: var(--lightBlack);
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
}

.slider-content {
	margin-left: 200px;
	margin-top: 100px;
}

.banner-text {
	font-size: 40px;
	font-weight: 400;
}

.banner-button {
	padding: 10px 25px;
}

.feature-heading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-heading h2 {
	font-size: 1.2rem;
	letter-spacing: 1px;
	color: #1b1919;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 40px;
	padding: 5px 30px;
	border: 1px solid #e0e0e0;
}

#autoWidth {
	display: flex;
	justify-content: center !important;
	margin: 10px auto 40px auto;
}

.feature-box {
	width: 155px;
	height: 160px;
	margin: 0px 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
}

.feature-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.5s linear;
	cursor: pointer;
}

.feature-box img:hover {
	transform: scale(1.15);
}

.item span {
	font-size: 1rem;
	font-weight: 600;
	margin: 5px;
	color: #444444;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product {
	padding: 30px 10px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.product-img {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.product-img img {
	width: 100%;
	height: 100%;
	transition: all 0.5s linear;
}

.product-img img:hover {
	transform: scale(1.2);
}

.show {
	position: absolute;
	right: 0;
	left: 0;
	top: 30px;
	text-align: center;
	opacity: 0;
	color: #474747;
	background-color: rgba(255, 255, 255, 0.45);
	font-size: 16px;
	padding: 16px 32px;
	transition: opacity .35s ease;
	cursor: pointer;
}

.product:hover .show {
	opacity: 1;
}

.product-name {
	margin: 10px 0;
	text-transform: capitalize;
	color: #474747;
	font-size: 16px;
}

.product-discount-price {
	text-align: right;
	font-size: 16px;
}

.product-price .discount {
	color: silver;
	font-weight: 400;
	font-size: 13px;
	padding-left: 5px;
}

.actualPrice {
	text-decoration: line-through;
	font-size: 16px;
}

.success-mgs {
	animation: show-hide 1.5s ease-in-out 1 forwards;
	font-style: italic;
}

@keyframes show-hide {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.details-image {
	width: 100%;
	height: auto;
	padding-right: 30px;
}

.details-image img {
	width: 90%;
	height: auto;
	margin-bottom: 25px;
}

.details-name {
	font-size: 28px;
	color: #2c2c2c;
	font-weight: 400;
	text-transform: capitalize;
}

.details-prices {
	margin: 10px 0;
}

.details-actaul {
	text-decoration: line-through;
	font-size: 20px;
}

.details-discount {
	margin-left: 20px;
	font-size: 20px;
}

.details-incDec {
	display: flex;
}

.dec,
.inc,
.quantity {
	width: 80px;
	height: 55px;
	border: 1px solid silver;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quantity {
	border-left: none;
	border-right: none;
}

.inc,
.dec {
	cursor: pointer;
}

.btn-default {
	margin-left: 10px;
	width: 100%;
	border: none;
	background: var(--main);
	color: var(--white);
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}

select {
	border: none;
	outline: none;
}

.details-p {
	margin-top: 15px;
}

.details-p h4 {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 18px;
}

.cart {
	margin-top: 50px;
}

.cart h3 {
	font-weight: 400;
}

.cart-heading {
	background: #f4f6f8;
	padding: 10px 25px;
}

.cart-image img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.verticalAlign {
	align-items: center;
	margin-top: 10px;
}

.text-center {
	text-align: center;
}

.dec-cart,
.inc-cart,
.quantity-cart {
	width: 40px;
	height: 35px;
	border: 1px solid silver;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-remove {
	cursor: pointer;
	font-size: 20px;
	color: var(--lightBlack);
}

.summary {
	padding-left: 10px;
}

.summary-heading {
	background: #f4f6f8;
	padding: 10px;
}

.summary-details {
	background: var(--main);
	color: var(--white);
	padding: 15px;
}

.mb-10 {
	margin-bottom: 10px;
}

.checkout {
	border: none;
	cursor: pointer;
	outline: none;
	background: var(--white);
	color: var(--main);
	width: 100%;
	padding: 12px 5px;
	font-size: 17px;
	text-transform: uppercase;
}

.sale {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
}

.sale-box {
	width: 280px;
	border-radius: 20px;
	margin: 20px;
	position: relative;
	flex-grow: 0.5;
}

.sale-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center right;
}

.sale-text {
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%, -50%);
	display: flex;
	flex-direction: column;
}

.sale-box a {
	color: #1b1919;
}

.sale-text strong {
	font-size: 1.2rem;
	font-weight: 500;
	width: 80%;
	line-height: 23px;
}

.services {
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}

.services-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	min-width: 250px;
	padding: 20px;
	margin: 15px;
	flex-grow: 0.7;
}

.services-box i {
	color: var(--main);
	font-size: 2rem;
	margin: 15px;
}

.services-box span {
	color: #222222;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 1rem;
}

.services-box p {
	color: #878787;
	margin: 0px;
	font-size: 0.9rem;
}

footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

.copyright {
	font-size: 0.9rem;
	color: #4e4e4e;
	letter-spacing: 1px;
}

.subscribe input {
	width: 240px;
	height: 43px;
	padding: 0px 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline: none;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

.subscribe input[type="submit"] {
	width: 120px;
	background-color: var(--main);
	color: #ffffff;
	margin: 0px 5px;
}

@media (max-width: 580px) {
	.container {
		width: 100%;
		padding: 0 30px;
	}

	.col-md-4 {
		width: 25%;
	}

	.col-md-8 {
		width: 75%;
	}

	.col-md-3,
	.col-md-2,
	.col-md-1 {
		text-align: center;
		margin-bottom: 10px;
	}

	.product {
		width: 80%;
	}

	.all-products {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.details-image {
		padding-right: 0;
	}

	.cart-heading {
		display: none;
	}

	.summary-col {
		width: 100% !important;
	}

	.cart-incDec {
		display: flex;
		justify-content: center;
	}

	.cart h3 {
		text-align: center;
	}

	.details-image {
		padding-right: 0;
	}
}

@media (max-width: 450px) {
	.slider-content {
		margin-left: 60px;
	}

	.banner-text {
		font-size: 30px;
	}

	.details-image {
		padding-right: 0;
	}

	.subscribe input {
		display: flex;
		justify-content: center;
		width: 300px;
	}

	.subscribe input[type="submit"] {
		margin: 20px auto;
	}
}
